body{
    background-color: #1d2127;
    color: aliceblue;
    font-family: "Overpass Mono", monospace;
    padding: 0;
    margin: 0;

}
h2{
    color: black;

}
.container{
    margin-top: 30px;
    padding: 0 60px 0 60px;

}
.post{
    background-color: black;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}
.post h4{
    color: green;

}
.post span{
    color:gray;
    
}